{% extends 'base.html.twig' %}

{% block title %}Hello FicheController!{% endblock %}

{% block body %}
    
{{ form(test) }}    
    
<h1> Consultation de la fiche de frais de {{ app.session.get('login') }}</h1>
<br>
Periode : {{ app.session.get('mois') }}/{{ app.session.get('annee') }}
<br>
{{ app.session.get('test') }}


{% endblock %}
